body {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
    background-image: url(../images/wallpapertip_table.jpg);
    background-repeat:inherit;
    background-size: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    

}

/* Above game board elements */
/* ------------------------- */


/* h1 styling from https://codepen.io/fielding/pen/wYPRjj */
h1 {
    margin: auto;
    text-align: center;
    font-size: 7rem;
    font-family: 'Luckiest Guy';
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:   0px -6px 0 #212121,  
                   0px -6px 0 #212121,
                   0px  6px 0 #212121,
                   0px  6px 0 #212121,
                  -6px  0px 0 #212121,  
                   6px  0px 0 #212121,
                  -6px  0px 0 #212121,
                   6px  0px 0 #212121,
                  -6px -6px 0 #212121,  
                   6px -6px 0 #212121,
                  -6px  6px 0 #212121,
                   6px  6px 0 #212121,
                  -6px  18px 0 #212121,
                   0px  18px 0 #212121,
                   6px  18px 0 #212121,
                   0 19px 1px rgba(0,0,0,.1),
                   0 0 6px rgba(0,0,0,.1),
                   0 6px 3px rgba(0,0,0,.3),
                   0 12px 6px rgba(0,0,0,.2),
                   0 18px 18px rgba(0,0,0,.25),
                   0 24px 24px rgba(0,0,0,.2),
                   0 36px 36px rgba(0,0,0,.15);
  }

#message {
    margin: auto;
    color: rgb(246, 240, 240);
    font-size: rem;
    text-transform: uppercase;
    background-color: black;
}



/* Game board  elements  */
/* ------------------------- */


.grid {
    display: grid;
    grid-template-columns: repeat(7, 9vmin);
    grid-template-rows: repeat(6, 9vmin);
    background-color: rgb(31, 13, 136);
    /* margin: 0 0; */
    /* justify-content: center; */
    padding: 1%;
    gap: 1.5%;
    width: calc(69vmin);
    height: calc(60vmin);
    border-left: 
}

.shadow-yellow {
    -webkit-box-shadow: -18px 2px 5px -6px rgba(232,240,5,1);
    -moz-box-shadow: -18px 2px 5px -6px rgba(232,240,5,1);
    box-shadow: -18px 2px 5px -6px rgba(232,240,5,1);
}

.shadow-red {
    -webkit-box-shadow: 18px 2px 5px -6px rgba(240,3,34,1);
    -moz-box-shadow: 18px 2px 5px -6px rgba(240,3,34,1);
    box-shadow: 18px 2px 5px -6px rgba(240,3,34,1);
}

.cell:hover {
    background-color: rgb(0, 0, 0);
}


.cell  {
    border: 5px solid rgb(11, 2, 63);
    background-color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    /* outline: 5px solid rgb(31, 13, 136); */
}

.yellow-piece {
    
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
    background-color: yellow;
}

.red-piece {
    
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
    background-color: red;
}

/* Below game board elements  */
/* ------------------------- */


/* #menu {
    margin-top: 3vmin;
    display: flex;
} */

/* 
.player {
    width: 20vmin;
    height: 10vmin;
} */

#menu {
    display: grid;
    width: calc(69vmin);
    margin-top: 3vmin;
    margin-bottom: 5vmin;;
    justify-content: center;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "one reset two";
}

/* #display {
    width: 30vmin;
} */

#center-menu{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: reset;
}

#left-menu{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: one;
}

#one {
    color: black;
    font-weight: bold;
    font-size: 2em;
    display: grid;
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}

#right-menu{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: two;
}

#two {
    color: white;
    font-weight: bold;
    font-size: 2em;
    display: grid;
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
    background-color: red;
    justify-content: center;
    align-items: center;
}

#reset {
    width:6vmin;
    height:6vmin;
    /* line-height:80px; */
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    align-items: center;
    text-align:center;
    background: rgb(31, 13, 136);
    /* box-shadow: 0 0 3px gray; */
    font-size:.7em;
    font-weight:bold;
}
#reset:hover {
    background: #f11717;
}

/* #inner-circle {
    border-radius: 50%;
    height: 6vmin;
    width: 6vmin;
    display: flex;
    justify-content: flex-end;
} */

/* testing div */
#winMsg {
    display: none;
    height: 50vmin;
    width: 50vmin;
    background-color: green;
}


/* 
emboss "4" onto coins
https://www.midwinter-dg.com/permalink-7-great-css-based-text-effects-using-the-text-shadow-property_2011-03-03.html

Coin Rotation from: 
https://stackoverflow.com/questions/35607055/html5-rotate-animation-how-to-show-the-other-side-of-the-coin
*/

@keyframes rotation {
    0% {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
      transform: rotate3d(0, 1, 0, 180deg);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }
  .container-two {
    background-color: blue;
    width: 100px;
    height: 100px;
    perspective: 1000;
    margin: 1em auto;
  }
  .coin {
    position: relative;
    text-align: center;
    line-height: 50px;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2.5s;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
  

