body {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;

}

/* Above game board elements */

h1 {
    font-size: 4rem;
    font-weight: 300;
    color: blue;
}

/* Game board  elements  */

.grid {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    background-color: black;
    margin: 0 auto;
    justify-content: center;
}



.cell  {
    border: 5px solid rgb(0, 0, 0);
    background-color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    outline: 5px solid black;
}

.yellow-piece {
    
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
    background-color: yellow;
}

.red-piece {
    
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
    background-color: red;
}

#column-drop {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: 100%;
    height: 10vmin;
    border: none;
    margin-bottom: 10px;
}

.cell-drop {
    border: none;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    gap: 10px;
}

.cell-drop:hover {
    background-color: red;
}

/* Below game board elements  */


#menu {
    margin-top: 3vmin;
    display: flex;
}

.player {
    width: 20vmin;
    height: 10vmin;
}

#display {
    width: 30vmin;
}

#center-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

#one {
    background-color: red;
    display: flex;
    justify-content: flex-start;
}

#two {
    background-color: yellow;
    display: flex;
    justify-content: flex-end;
}

#winMsg {
    display: none;
    border: none;
}

